.swiperSize {
  width: 300px;
  height: 400px;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* .swiperImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
} */
